<% var external_link = config.external_link ? '_blank' : '_self'; %>
<article <% if (index%2 == 0){ %> class="post post-list-thumb post-list-thumb-left" <% } %> class="post post-list-thumb" itemscope="" itemtype="http://schema.org/BlogPosting">

  <div class="post-thumb">
    <a href="<%- url_for(post.path) %>">
      <% if(post.photos[0]) {%> 
        <img class="lazyload" onerror="imgError(this,3)" src="<%- theme.lazyloadImg%>" data-src="<%= post.photos[0] %>">
      <%} else {%> 
        <%if(index % 5 == 0) {  %><div style="width: 100%;height: 100%;background-image: linear-gradient(to right top, #ff9a00, #ff165d);"></div><% } %> 
        <%if(index % 5 == 1) {  %><div style="width: 100%;height: 100%;background-image: linear-gradient(to right top, #bedcfa, #98acf8, #b088f9, #da9ff9);"></div><% } %> 
        <%if(index % 5 == 3) {  %><div style="width: 100%;height: 100%;background-image: linear-gradient(to right top, #212121, #323232, #0d7377, #14ffec);"></div><% } %> 
        <%if(index % 5 == 2) {  %><div style="width: 100%;height: 100%;background-image: linear-gradient(to right top, #a8d8ea, #aa96da, #fcbad3, #ffffd2);"></div><% } %> 
        <%if(index % 5 == 4) {  %><div style="width: 100%;height: 100%;background-image: linear-gradient(to right top, #ffcfdf, #fefdca, #e0f9b5, #a5dee5);"></div><% } %> 
      <% } %> 
    </a>
  </div>
  <div class="post-content-wrap">
    <div class="post-content">
      <div class="post-date">
        <i class="iconfont icon-time">
        </i><%= date(post.date, 'YYYY-M-D HH:MM') %></div>
      <a href="<%- url_for(post.path) %>" class="post-title">
        <h3><%= post.title %></h3>
      </a>
      <div class="post-meta">
        <span><i class="fa fa-tags"></i>
        <% post.tags.each((tag)=>{ %>
            <a href="<%- url_for(tag.path) %>"><%= tag.name %><em>·</em></a>
          <% }) %>
        </span>
        <span>
          <i class="iconfont icon-file"></i>
          <% post.categories.each((category)=>{ %>
            <a href="<%- url_for(category.path) %>"><%= category.name %></a>
          <% }) %>
        </span>
      </div>
      <div class="float-content">
        <p><%= post.description %></p>
        <div class="post-bottom">
          <a href="<%- url_for(post.path) %>" class="button-normal">
            <i class="iconfont icon-caidan"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>